body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #03a9f4;
  margin: 0 10px;
  /* animation: jump 1s infinite; */
}

.loader span:nth-child(1) {
  animation: jump 1s infinite ease-in-out;
}

.loader span:nth-child(2) {
  animation: jump 1s 0.333s infinite ease-in-out;
}

.loader span:nth-child(3) {
  animation: jump 1s 0.666s infinite ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0) scale(1);
  }
  30% {
    transform: translateY(-20px) scale(1.2);
  }
  70% {
    transform: translateY(0) scale(1);
  }
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 7px solid #cfd8dc;
  border-top-color: #3f51b5;
  animation: 1s spin infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* .box {
  width: 300px;
  height: 300px;
  background-color: orangered;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
    background-color: purple;
  }
  25% {
    transform: translateX(500px);
  }
  75% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(0);
    background-color: magenta;
  }
}

/* 
@keyframes colorchange {
  from {
    background-color: pink;
  }
  to {
    background-color: cyan;
  }
} */

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @keyframes rainbow {
  0% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: violet;
  }
} */
